.popup__close {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/Close_Icon_svg.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -40px;
  right: -40px;
  border: 0;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 590px) {
  .popup__close {
    width: 20px;
    height: 20px;
    background-size: 20px;
    top: -36px;
    right: 0;
  }
}
